@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Twip   ---------- */
#alertbox *,
#alertbox h1,
#alertbox h2 {font-family: "nanumgothic", "Noto sans kr", "Spoqa Han Sans", Helvetica, sans-serif  !important;}

{color:#ffcc00 !important} /* 이름 */



/* Steamlabs  ---------- */
.widget-AlertBox * {font-family: "nanumgothic", "Noto sans kr", "Spoqa Han Sans", Helvetica, sans-serif  !important;}


#alert-text {
    text-shadow: black 0px 0px 3px,black 0px 0px 3px,black 0px 0px 3px,black 0px 0px 3px !important;
}

#alert-message {}
#alert-user-message {}


/* Name text color ---------- */

#alert-text span#nickname,
#alert-text span#amount, 
#alert-message span {color:#ffcc00 !important} 

