@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css); 
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* Twip   ---------- */
#alertbox *,
#alertbox h1,
#alertbox h2 {font-family: "nanumgothic", "Noto sans kr", "Spoqa Han Sans", Helvetica, sans-serif  !important;}



/* Steamlabs  ---------- */
.widget-AlertBox * {font-family: "nanumgothic", "Noto sans kr", "Spoqa Han Sans", Helvetica, sans-serif  !important;}



#alertbox h1, /* t */
#alertbox h2, /* t */
#alert-text /* s */ {
    text-shadow: black 0px 0px 3px,black 0px 0px 3px,black 0px 0px 3px,black 0px 0px 3px !important;
}


/* Steamlabs  ---------- */
#alert-message {}
#alert-user-message {}


/* Name text color ---------- */

#alert-text span#nickname span,
#alert-text span#amount span,
#alert-text span#months span,
#alert-message span {color:#ffcc00 !important} 

